snippet doc "doctype html5" !b
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
endsnippet

snippet header "header tag" !b
<header>
    $1
</header>
endsnippet

snippet nav "nav html5" !b
    <nav>


    </nav>

endsnippet

snippet cmt "html comment" !b
<!-- $1 -->

endsnippet

snippet cmt-multi "multiline cmt" !b
<!--

$1
-->

endsnippet
